* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'schrift';
  src: './Data/Fonts/abel-regular-webfont.woff';
}

body{
font-family: schrift;
background-color: white;
}


.content-wrapper{
word-wrap: break-word;
background-color: rgb(69, 69, 69);
padding: 20px;
margin: 5px;
grid-auto-flow: row;


}

.container{
  display: grid;


  grid-template-columns: 33% 33% 33%;
}
