* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "avenir-next-medium";
  src: url(../Data/Fonts/AvenirNextLTPro-MediumCn.woff);
}
@font-face {
  font-family: "avenir-next-regular";
  src: url(../Data/Fonts/AvenirNextLTPro-Regular.woff);
}

/* .grid{
  display: grid;
  grid-template-columns: repeat(8,12.5%);

}

@media (max-width: 720px) {
.grid{
  display: grid;
  grid-template-columns: repeat(4,25%);

}
}
@media (max-width: 400px) {
.grid{
  display: grid;
  grid-template-columns: repeat(2,50%);

}
} */

h1{
  font-size: 1.5rem;
  font-family: 'avenir-next-medium';
  color: #54514C;
}
h2{
  font-family: 'avenir-next-regular';
  font-size: 1rem;
  color: #54514C;
  background: rgba(255, 255, 255, 0);
}

body{

font-family: 'avenir-next-regular';
font-size: 1rem;

font-size: 20px;
}
.grid-item{
 min-width: 50px;
 width: 200px;
 word-wrap: break-word;
 margin:auto;
 display: inline-block;

}

.content-wrapper{
/* background-color: rgb(91, 106, 240); */
padding: 20px;
margin: 1px;
/* grid-auto-flow: row; */
overflow: hidden;
border-bottom: solid 1px #54514C;
background-color: white;



}

.testgrid{
  padding-left: 100px;
  padding-right: 100px;

}

.container :hover{
background-color: rgb(240, 240, 240);
transition: 0.5s;
cursor: pointer;

}

.button-secondary{
  padding: 3px;
  border: solid 1px #D6CAB0;
  border-radius: 2px;
  margin: 0 auto;
}
.button-secondary:hover{
background-color: #D6CAB0;
color: white;

}

.hidden{
display:none;
margin: 0 20;


}

.shopping-cart{
float: right;
width: 20%;
height: 100%;


}
